@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}



<h1 class="my-4">
    My Blog Posts
</h1>

@foreach (var item in Model.Posts)
{
    <div class="card mb-4">
        <img class="card-img-top" src="https://placehold.it/750x200" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">@item.Title</h2>
                 @Html.Raw(item.Content)
            <a href="@Url.Action("Show","Post",new { slug=item.Slug})" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Posted on @item.CreationTime.Value.ToShortDateString() by
            <a href="#">@(item.Author.DisplayName ?? "Anonymous" )</a>
        </div>
    </div>
}
<!-- Blog Post -->
<!-- Blog Post -->
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>
